* {
    font-family: 'Poppins', sans-serif;
}

.header-content {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), black),
                    url('assets/banner-image.png');
    background-size: cover;
    background-position: center;
    height: 65vh;
}

.active {
    background-color: #4f24c7;
    color: white;
}
